@using RazorViews.Models

@{
    //string appTitle = "Asp.Net Core App";
    

} <!--razor block-->
@{
    //local funct
    double? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            return DateTime.Now.Year - dateOfBirth.Value.Year;
        }
        else
        {
            return null;
        }
    }
    int x = 10;
    //string Name { get; set; } = "hello name";
    /* string alertMex = $"<script>alert('{people.Count} people found')</script>"; */  //html raw string!!
}

<!DOCTYPE html>
<html>
<head>
    <!--<title>@ViewData["appTitle"]</title>-->
    <title>@ViewBag.appTitle</title>  <!--better than using @ViewData-->
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    @Html.Raw(alertMex)
    <h1>Welcome</h1>
    @{
        //List<Person> people = (List<Person>)ViewData["people"];
    }
    @foreach(Person person in ViewBag.people)  //
    {
        Person person = people[i];
        <h5>@person.Name</h5>
    }
</body>
</html>